*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar{
    display: none;
  }

.CVApp{
    font-family: 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #f3f4f6;
    height: 100dvh;
}

.previewIcon > img{
    width: 50px;
    height: 50px;
}

.previewIcon{
    border: none;
    background-color: transparent;
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 0px 5px;
    margin: 20px;
    border-radius: 60%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
    cursor: pointer;
}

.previewIcon:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 768px) {
    .CVApp{
        gap: 1.5em;
    }
}

@media print {
    .right-preview {
      overflow: hidden; /* Hide overflow in print */
      max-height: none; /* Remove height limit in print */
      font-size: 14px; /* Adjust font size for better readability on paper */
    }

    body {
        margin: 0;
        padding: 0;
      }
}