*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar{
    display: none;
  }

.CVApp{
    font-family: 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #f3f4f6;
}

.previewIcon > img{
    width: 50px;
    height: 50px;
}

.previewIcon{
    border: none;
    background-color: transparent;
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 0px 5px;
    margin: 20px;
    border-radius: 60%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
    cursor: pointer;
}

.previewIcon:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 768px) {
    .right-buttons > button{
        padding: 0.4em 1.3em;
        font-size: 14px;
    }

    h1{
        font-size: 19px;
    }

    h2{
        font-size: 16px;
    }

    h3
    {
        font-size: 13px;
    }

    .input-container > *{
        font-size: 15px;
    }
    .contact-container > *,
    p,
    li
    {
        font-size: 11px;
    }

    input{
        padding: 0.4em;
    }

    .full-date{
        gap:10px;
    }

    .previewIcon > img{
        width: 35px;
        height: 35px;
    }

    .previewIcon {
        margin: 20px 10px;
    }

    .img-container>img{
        width: 100px;
        height: 100px;
    }

    .header{
        gap: 25px;
        padding: 10px 30px;
    }

    #download-icon{
        width: 30px;
    }

    #contact-icon{
        width: 20px;
    }

    .left-section,
    .right-section{
        padding:  12px;
        gap: 2px;
    }

    .left-section{
        width: 150px;
    }

    .title-preview {
        margin: 5px;
    }

    .skills-preview-title {
        margin-top: 15px;
    }

    .multiple{
        font-size: 17px;
    }

    .right-preview{
        grid-template-rows: 130px 1fr;
    }

}

@media only screen and (max-width: 1024px) {

    .form-section{
        width: 75%;
    }

    .right-preview {
        max-width: 90%;
    }
}

@media print {
    .right-preview {
      min-height: 29.7cm;
      font-size: 14px; 
      margin: 0;
      box-shadow: none;
    }

    html, body {
        margin: 0;
        box-sizing: border-box;
    }

    .downloadBtn{
        display: none;
    }

    @page{
        padding-top: 5px;
    }
}
